html, body {
    min-height: 600px;
}

body {
    padding: 0;
    margin: '2px';
    font-family: sans-serif;
    border: ridge grey 5px;
}

h1 {
    background-color: #cccccc;
    margin: 0;
    padding: 10px;
}

p {
    margin: 10px;
}
